DATABASE_URL=mongodb://admin:adminpassword@localhost:27017

# ❯ docker run -d \
#   --name mongodb-container \
#   -p 27017:27017 \
#   -e MONGO_INITDB_ROOT_USERNAME=admin \
#   -e MONGO_INITDB_ROOT_PASSWORD=adminpassword \
#   mongo